body{
  background-color: black;
  font-family: Arial;
}
.calculationDisplay{
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.number{
  height: 65px;
  width: 65px;
  font-size: 25px;
  color: white;
  background-color: rgb(70, 70, 70);
  border-radius: 33px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.sign{
  height: 65px;
  width: 65px;
  font-size: 25px;
  color: white;
  background-color: orange;
  border-radius: 33px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.clear-button{
  font-size: 16px;
}